{% extends 'base.html' %} 
{% load static %}

{% block title %}
    Optimum Study | Error 404
{% endblock title %}

{% block page_title %}
    Optimum Study / Page Not Found
{% endblock page_title %}
    
{% block content %}

<div class="inner_page error_404">
<div class="full_container">
    <div class="container">
       <div class="center verticle_center full_height">
          <div class="error_page">
             <div class="center">
                <div class="error_icon">
                   <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnHSnUhYggsjFpDIGEdhLhzkJUQRJZWdZ8Iw&usqp=CAU " alt="dsds">
                </div>
             </div>
             <br>
             <h3>PAGE NOT FOUND !</h3>
             <P>YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</P>
             <div class="center"><a class="main_bt" href="{% url 'index'%}">Go To Home Page</a></div>
          </div>
       </div>
    </div>
 </div>
    <div class="col-md-12">


    </div>





{% endblock content %}