{% load static %}


<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>
            {% block title %}
        
            {% endblock title %}
      </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="icon" href="{% static  'assets/images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static  'assets/css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static  'assets/css/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static  'assets/css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static  'assets/css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static  'assets/css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static  'assets/css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static  'assets/css/custom.css' %}" />
      <link rel="stylesheet" href="{% static  'assets/css/ay_custom.css' %}" />

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.{% static  'assets/js/1.4.2/respond.min.js"></script>
      <![endif]-->


      <style>
         .imged{
            height: 230px;
    object-fit:fill !important;
    width: 300px;
         }

         .cb{
            height: 220px;
         }

         .img-circle{
            width: 60px;
            height: 60px;
         }

         .ai_img{
            border-radius: 50%;
         }



/*/////////////////////////////////*/
/*/////////  chat styles  /////////*/
/*/////////////////////////////////*/
.chat
{
 list-style: none;
 margin: 0;
 padding: 0;
}

.chat li
{
 margin-bottom: 40px;
 padding-bottom: 5px;
 /* border-bottom: 1px dotted #B3A9A9; */
 margin-top: 10px;
 width: 80%;
}


.chat li .chat-body p
{
 margin: 0;
 /* color: #777777; */
}


.chat-care
{
 overflow-y: scroll;
 height: 350px;
}
.chat-care .chat-img
{
 width: 50px;
 height: 50px;
}
.chat-care .img-circle
{
 border-radius: 50%;
}
.chat-care .chat-img
{
 display: inline-block;
}
.chat-care .chat-body
{
 display: inline-block;
 max-width: 80%;
 background-color: #FFC195;
 border-radius: 12.5px;
 padding: 15px;
}
.chat-care .chat-body strong
{
color: #0169DA;
}

.chat-care .admin
{
 text-align: right ;
 float: right;
}
.chat-care .admin p
{
 text-align: left ;
}
.chat-care .agent
{
 text-align: left ;
 float: left;
}
.chat-care .left
{
 float: left;
}
.chat-care .right
{
 float: right;
}

.clearfix {
clear: both;
}




::-webkit-scrollbar-track
{
 box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}

::-webkit-scrollbar
{
 width: 12px;
 background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
 box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: #555;
}



















      </style>
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="{% url 'dashboard' %}">
                           {% comment %} <img class="logo_icon img-responsive" src="{% static  'assets/images/logo/logo_icon.png' %}" alt="#" /></a> {% endcomment %}
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src=" {% if profile.profile_pic %}{{ profile.profile_pic.url }} {% else %} https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png {% endif %}" alt="#" /></div>
                        <div class="user_info">
                           {% if profile.first_name %}
                           <h6>{{profile.first_name}} {{profile.last_name}}</h6>
                           {% else %}
                              <h6> Learner <h6>
                           {% endif %}
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <!-- <h4>General</h4> -->
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="{% url 'dashboard' %}" ><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                        
                     </li>
                     <li class="active">
                        <a href="{%url 'chat' %}" ><i class="material-symbols-outlined yellow_color">
                           scale
                        </i></i> <span>AI Chat</span></a>
                        
                     </li>


                     <li><a href="{%url 'notes' %}"><i class="material-symbols-outlined orange_color">
                        sticky_note_2
                     </i><span>Notes</span></a></li>
                     <li>
                        <a href="{%url 'todo' %}">
                           <i class="material-symbols-outlined purple_color">
                              task_alt
                           </i>
                           
                          <span>ToDo</span></a>
                        
                     </li>
                     <li><a href="{%url 'homework' %}"><i class="material-symbols-outlined purple_color2">
                        assignment_turned_in
                     </i></i> <span>Homework</span></a></li>
                     <li>
                        <a href="{%url 'youtube' %}" ><i class="material-symbols-outlined blue2_color">
                           youtube_activity
                        </i> <span>YouTube</span></a>
                        
                     </li>
                     <li><a href="{%url 'dictionary' %}"><i class="material-symbols-outlined blue1_color">
                        library_books
                     </i> <span>Dictionary</span></a></li>
                     <li>
                        <a href="{%url 'wiki' %}"y>
                           <i class="material-symbols-outlined red_color">
                              collections_bookmark
                           </i> <span>WikiPedia</span></a>
                     </li>
                    
                     <li><a href="{% url 'books' %}"><i class="material-symbols-outlined orange_color">
                        book
                     </i><span>Books</span></a></li>
                     <li><a href="{% url 'profile' request.user.username %}"><i class="material-symbols-outlined green_color">
                        account_circle
                     </i> <span>Profile</span></a></li>
                    
                     <li class="active">
                        <a href="{%url 'logout' %}" ><i class="material-symbols-outlined red_color">
                           scale
                        </i></i> <span>logout</span></a>
                        
                     </li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
              <!-- topbar -->
              <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="full">
                      <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                      <div class="logo_section">
                        <!-- <a href="index.html"><img class="img-responsive" src="{% static  'assets/images/logo/logo.png' %}" alt="#" /></a> -->
                      </div>
                      <div class="right_topbar">
                        <div class="icon_info">
                            <!-- <ul>
                              <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                            </ul> -->
                            <ul class="user_profile_dd">
                              <li>
                                  <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% if profile.profile_pic.url %}{{ profile.profile_pic.url }} {%else%} https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png {%endif%}" alt="#" /><span class="name_user">{% if profile.first_name %}{{profile.first_name}} {{profile.last_name}} {% else %} Learner {% endif %}</span></a>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'profile' request.user.username%}">My Profile</a>
                                    <!-- <a class="dropdown-item" href="settings.html">Settings</a>-->
                                    <a class="dropdown-item" href="{% url 'help' %}">Help</a> 
                                    <a class="dropdown-item" href="{% url 'logout' %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                  </div>
                              </li>
                            </ul>
                        </div>
                      </div>
                  </div>
                </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">
                           <h2>
                              {% block page_title %}
                                  
                              {% endblock page_title %}</h2>
                        </div>
                     </div>
                  </div>




            {% block content %}
                  






            {% endblock content %}
               </div>
               <!-- footer -->
               <div class="container-fluid" >
                  <div class="footer">
                     <p>Copyright © 2022 Designed by Ayomide. All rights reserved.
                     </p>
                  </div>
               </div>
            </div>
         <!-- end dashboard inner -->
          </div>
      </div>
    </div>
      <!-- jQuery -->
      <script> $('.card-body').scrollTop(1000000); </script>
      <script src="{% static  'assets/js/jquery.min.js' %}"></script>
      <script src="{% static  'assets/js/popper.min.js' %}"></script>
      <script src="{% static  'assets/js/bootstrap.min.js' %}"></script>
      <!-- wow animation -->
      <script src="{% static  'assets/js/animate.js' %}"></script>
      <!-- select country -->
      <script src="{% static  'assets/js/bootstrap-select.js' %}"></script>
      <!-- owl carousel -->
      <script src="{% static  'assets/js/owl.carousel.js' %}"></script> 
      <!-- chart js -->
      <script src="{% static  'assets/js/Chart.min.js' %}"></script>
      <script src="{% static  'assets/js/Chart.bundle.min.js' %}"></script>
      <script src="{% static  'assets/js/utils.js' %}"></script>
      <script src="{% static  'assets/js/analyser.js' %}"></script>
      <!-- nice scrollbar -->
      <script src="{% static  'assets/js/perfect-scrollbar.min.js' %}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>

      <!-- fancy box js -->
      <script src="{% static  'assets/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static  'assets/js/jquery.fancybox.min.js' %}"></script>


      <!-- custom js -->
      <script src="{% static  'assets/js/chart_custom_style1.js' %}"></script>
      <script src="{% static  'assets/js/custom.js' %}"></script>
      <!-- calendar file css -->    
      <script src="{% static  'assets/js/semantic.min.js' %}"></script>

      
  </body>
</html>